body{
    background-color: #f331e962;
}

.navbar-brand{
    font-family: cursive;
    color: rgb(226, 43, 202);
    font-size: 30px;
}

.nav-item a{
    display: flex;
    font-size: 20px;
    

}

/* Jumbotron */



.wrapperUno .text-box{
    padding: 2rem ;
    background-color: rgb(54, 6, 38);
    width: 100%;
    
}

.wrapperUno img {
    width: 100%;
    height: auto;
}

.wrapperUno h2{
    color: #fff;
    
}

.wrapperUno h3{
    color: #fff;
 
}

input[type="email"] {
    margin-top: 30px;
    width: 700px;
    padding: 15px;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    border-radius: 25px;

}

input[type="email"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

 label {
    margin-left: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    color: white;
}

input[type="cupon"] { 
    margin-top: 30px;
    width: 810px;
    padding: 15px;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    border-radius: 25px;

}

input[type="cupo"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0px 2px 5px rgba(50, 9, 236, 0.1);
}

.enviar-boton{

    margin-top: 40px;
    margin-left: 2%;
    width: 200px;
    height: 50px;
    padding: 15px 30px;
    background-color: #483ed4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

/* Tarjetas */
.em
#my-page {
    background-color: rgba(182, 8, 173, 0.247);
}

.slide{
    margin-top: 10px;

}

.slide img{
    height: 65vh;
    object-fit: cover;
}

.subtituloUno h1{
    display: flex;
    font-size: 70px;
    justify-content: center;
    margin-top: 100px;
    font-family: Roboto Condensed;
}

.subtituloUno p{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.tarjetas{
    margin-top: 40px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 19px;
    grid-row-gap: px;
    justify-items: center;
    

}


.card-text{
    font-size: 25px;
}

/* Bannner */




.wrapper{
    display: flex;
    justify-content: center;
    margin: 200px auto;
    width: 100%;


}
.wrapper img {
    width: 1200px;
    margin-left: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.text-box{
    width: 50%;
    background-color: white;
    color: rgba(0, 0, 0, 0.856);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.text-box h2{
    margin-top: 50px;
    display: inline-block;
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-family: Roboto Condensed;
}

.text-box h3{
    padding: 2rem;
    font-size: 40px;
    margin-top: 50px;
    margin-left: 2%;
}

.text-box ul{
    margin-top: 50px;
    list-style: none;
    font-size: 30px;
    
}

.banner button {
    border: 0;
    background-image: linear-gradient( 150deg, #9500ff,#09f,#00DDFF);
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-size: 18px;
    padding: 4px;
    cursor: pointer;
    transition: .3s;

}


.banner button span{
    background-color: #111;
    padding: 16px 24px;
    border-radius: 8px;
    transition: .3s;
}

.banner button:active{
    transform: scale(0.9);
}



.card-ti
/* footer */
a{
    text-decoration: none;
    font-size: 17px;
}

p{
    font-size: 17px;
}

a:hover{
    color: #0D6EFD !important;
}

i{
    font-size: 25px;
}


/* Parte responsiva */

.wrapperUno .text-box {
    padding: 2rem;
}

@media (max-width: 500px) {
    .wrapperUno .text-box {
    padding: 1rem;
    }


.wrapperUno img {
    height: 200px;
}

.wrapperUno h2 {
    font-size: 24px;
}

.wrapperUno h3 {
    font-size: 18px;
}

    .tarjetas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    width: 100%;
    height: auto;
}

.wrapper {
    flex-direction: column;
}

.wrapper img {
    max-width: 100%;
    height: auto;
}

.text-box {
    padding: 1rem;
}
}

